<!DOCTYPE html>
<html>
<head>
  <title>Kiosk</title>
  <%# <%= stylesheet_link_tag 'kiosk' %>
  <%# <%= javascript_pack_tag 'kiosk' %>
</head>
<body>
  <h1>Kiosk Page</h1>
  <p><%= @message %></p>
</body>
</html>